__pycache__/
__pypackages__/
.python-version
*.py[codz]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
cover/
uv.lock
*.rdb
*.aof
*.pid
.env
.venv/
venv/
.mypy_cache/
.hypothesis/
.pytest_cache/
.coverage
.pytype/
.idea/
.ruff_cache/
promts
docs/